body {
    padding: 0;
    margin: 0;
    background-color: #333;
    color: #ccc;
    font-family: sans-serif;
    min-height: 100vh;
  }
  canvas {
    max-height: 70vh;
    max-width: 80vw;
    width: auto !important;
    height: auto !important;
  }
  p, a {
    font-size: 1rem;
    color: #ccc;
    text-align: center;
  }
  
  #container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
  #actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .rounded {
    border-radius: 1rem;
  }
  .button {
    padding: 0.6rem 0.5rem 0.4rem;
    border: 2px solid #ccc;
    text-decoration: none;
  }
  
  @media (min-width: 1280px) {
    canvas {
      max-height: 80vh;
    }
    #container {
      padding: 2rem;
      gap: 2rem;
    }
    #actions {
      gap: 2rem;
    }
  }