body {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: #aaa;
    font-family: sans-serif;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    aspect-ratio: 16 / 9;
    max-width: calc( 100vw - 4rem );
    max-height: calc( 100vh - 9rem );
    box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
    margin-bottom: 1rem;
}

p {
    text-align: center;
}

p#links a {
    display: inline-block;
    background-color: #ddd;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem 1rem 0.25rem;
    font-size: 1rem;
    color: #222;
    text-decoration: none;
    text-align: center;
    border-radius: 0.5rem;
}
